* {
    font-family: 'PT Serif', serif;
}
/* font-family: 'Playfair Display', serif; */
.btn-primary {
    background-color: #ce1212 !important;
    color: white;
    border-color: #ce1212;
}
.btn-primary:hover {
    border-color: #ce1212;
    background-color: rgba(206, 18, 18, 0.1) !important;
    color: #ce1212 !important;
}
.bg-col {
    background-color: #ce1212 !important;
}
.i-bg-col {
    background: rgba(206, 18, 18, 0.1) !important;
}
.text-col {
    color: #ce1212 !important;
}
.hero {
    background: url(../assets/images/hamburger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
.home-hero {
    min-height: 100vh;
}
.icon {
    width: 70px;
}
.card-zoom {
    transition: all ease-in-out 0.5s;
    height: 100%;
}
.card-zoom:hover {
    transform: scale(1.02);
}
.card-zoom:hover a {
    background-color: rgba(206, 18, 18, 0.1) !important;
    color: #ce1212 !important;
}
.index {
    z-index: 100;
}
@media (max-width: 1024px) {
    .hero {
        min-height: 50vh;
    }
}